@page "/MockMusicRemoteControl"
<PageTitle>Mock Music Remote Control</PageTitle>
@if (DataContext is null)
{
    return;
}
@if (_status == "None")
{
    return;
}
@if (_status != "")
{
    <div style="font-size: 8vh;">
        @_status
    </div>
    return;
}
<div>
    @_others
</div>
<div style="font-size: 7vh;">
    
    <div>
        <BootstrapPrimaryButton FontSize="5vh" OnClick="DataContext.PauseAsync">
            Pause
        </BootstrapPrimaryButton>
        
    </div>
</div>